[Unit]
Description=repository management service

[Service]
ExecStart=/usr/bin/repod
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
